# CatBoost

In [44]:
import numpy as np
import pandas as pd
import seaborn as sns

from catboost import CatBoostClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score
from sklearn.metrics import (f1_score, roc_auc_score,confusion_matrix, accuracy_score,
                             precision_score, recall_score, matthews_corrcoef)
from IPython.display import HTML, display
import tabulate

## Read Data File

In [2]:
df = pd.read_csv('/media/abhishek/589E61B39E618A783/C-DAC Document/Practical Machine Learning/PML/Code/Dataset/loan_data.csv')

In [3]:
df.head(10)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,5849.0,0.0,0.0,360.0,Yes,1
1,4583.0,1508.0,128.0,360.0,Yes,0
2,3000.0,0.0,66.0,360.0,Yes,1
3,2583.0,2358.0,120.0,360.0,Yes,1
4,6000.0,0.0,141.0,360.0,Yes,1
5,5417.0,4196.0,267.0,360.0,Yes,1
6,2333.0,1516.0,95.0,360.0,Yes,1
7,3036.0,2504.0,158.0,360.0,No,0
8,4006.0,1526.0,168.0,360.0,Yes,1
9,12841.0,10968.0,349.0,360.0,Yes,0

## EDA

In [4]:
print("Total number of rows in datasets = {} ".format(df.shape[0]))
print("Total number of columns in datasets = {} ".format(df.shape[1]))

Total number of rows in datasets = 614
Total number of columns in datasets = 6

In [5]:
df.isnull().sum()

ApplicantIncome      2
CoapplicantIncome    2
LoanAmount           3
Loan_Amount_Term     2
Credit_History       0
Loan_Status          0
dtype: int64

In [6]:
 df.nunique()

ApplicantIncome      503
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      11
Credit_History         2
Loan_Status            2
dtype: int64

In [7]:
 df.Loan_Amount_Term.value_counts(dropna = False)

360.0    511
180.0     43
480.0     15
0.0       14
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
NaN        2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [8]:
df.Loan_Status.value_counts()

1    422
0    192
Name: Loan_Status, dtype: int64

In [9]:
df.Credit_History.value_counts()

Yes    475
No     139
Name: Credit_History, dtype: int64

## Feature Engineering/Selection

### Drop 2 rows with missing values of Loan_Amount_Term

In [10]:
df.dropna(subset = ['Loan_Amount_Term'], inplace = True)

In [11]:
df.Loan_Amount_Term = df.Loan_Amount_Term.astype(int)

In [12]:
df.dtypes

ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term       int64
Credit_History        object
Loan_Status            int64
dtype: object

In [13]:
target_col = "Loan_Status"
x = df.loc[:, df.columns != target_col]
y = df.loc[:, target_col]

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.8, random_state = 42)

In [15]:
x_test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
81,2395.0,0.0,0.0,360,Yes
218,5000.0,0.0,72.0,360,No
55,2708.0,1167.0,97.0,360,Yes
602,5703.0,0.0,128.0,360,Yes
265,4095.0,3447.0,151.0,360,Yes

In [16]:
x_train.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
563,5800.0,0.0,132.0,360,Yes
289,9508.0,0.0,187.0,360,Yes
324,15000.0,0.0,300.0,360,Yes
132,2718.0,0.0,70.0,360,Yes
174,4344.0,736.0,87.0,360,Yes

## Train Catboost Model

In [40]:
model = CatBoostClassifier(task_type = 'CPU', iterations = 150, random_state = 2021, eval_metric = "Accuracy")

In [41]:
cat_features = ["Loan_Amount_Term", "Credit_History"]

In [42]:
model.fit(x_train, y_train, cat_features = cat_features, plot = True, eval_set = (x_test, y_test))

Custom logger is already specified. Specify more than one logger at same time is not thread safe.

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

Learning rate set to 0.060613
0:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 619us	remaining: 92.3ms
1:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 1.31ms	remaining: 96.8ms
2:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 2.03ms	remaining: 99.7ms
3:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 2.65ms	remaining: 96.5ms
4:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 3.2ms	remaining: 92.7ms
5:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 3.74ms	remaining: 89.7ms
6:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 4.28ms	remaining: 87.3ms
7:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 4.83ms	remaining: 85.7ms
8:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 5.26ms	remaining: 82.4ms
9:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 5.8ms	remaining: 81.2ms
10:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 6.05ms	remaining: 76.4ms
11:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 6.6ms	remaining: 75.9ms
12:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 7.02ms	remaining: 73.9ms
13:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 7.22ms	remaining: 70.2ms
14:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 7.8ms	remaining: 70.2ms
15:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 8.38ms	remaining: 70.2ms
16:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 8.95ms	remaining: 70ms
17:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 9.52ms	remaining: 69.8ms
18:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 10.2ms	remaining: 70.1ms
19:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 10.8ms	remaining: 69.9ms
20:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 11.4ms	remaining: 70.2ms
21:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 12.3ms	remaining: 71.6ms
22:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 12.8ms	remaining: 70.7ms
23:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 13.5ms	remaining: 70.9ms
24:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 13.7ms	remaining: 68.6ms
25:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 14ms	remaining: 66.6ms
26:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 14.6ms	remaining: 66.7ms
27:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 15.3ms	remaining: 66.8ms
28:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 16ms	remaining: 66.6ms
29:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 16.7ms	remaining: 66.7ms
30:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 17.5ms	remaining: 67.2ms
31:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 17.9ms	remaining: 66.2ms
32:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 18.6ms	remaining: 65.8ms
33:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 19.2ms	remaining: 65.4ms
34:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 19.7ms	remaining: 64.9ms
35:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 20ms	remaining: 63.3ms
36:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 20.6ms	remaining: 62.9ms
37:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 21.4ms	remaining: 62.9ms
38:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 21.5ms	remaining: 61.1ms
39:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 21.9ms	remaining: 60.3ms
40:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 22.5ms	remaining: 59.8ms
41:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 23.1ms	remaining: 59.5ms
42:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 23.7ms	remaining: 59ms
43:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 24.3ms	remaining: 58.4ms
44:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 24.8ms	remaining: 58ms
45:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 25.4ms	remaining: 57.4ms
46:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 26ms	remaining: 56.9ms
47:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 26.2ms	remaining: 55.7ms
48:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 26.8ms	remaining: 55.2ms
49:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 27.3ms	remaining: 54.6ms
50:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 27.9ms	remaining: 54.2ms
51:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 28.1ms	remaining: 53ms
52:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 28.7ms	remaining: 52.5ms
53:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 29.2ms	remaining: 51.9ms
54:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 29.7ms	remaining: 51.4ms
55:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 30.3ms	remaining: 50.8ms
56:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 30.9ms	remaining: 50.4ms
57:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 32.2ms	remaining: 51ms
58:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 32.7ms	remaining: 50.5ms
59:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 33.4ms	remaining: 50ms
60:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 33.6ms	remaining: 49ms
61:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 34.3ms	remaining: 48.7ms
62:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 34.9ms	remaining: 48.3ms
63:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 35.6ms	remaining: 47.8ms
64:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 36.2ms	remaining: 47.3ms
65:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 36.8ms	remaining: 46.8ms
66:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 37.4ms	remaining: 46.3ms
67:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 37.9ms	remaining: 45.7ms
68:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 38.8ms	remaining: 45.5ms
69:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 40.2ms	remaining: 45.9ms
70:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 40.7ms	remaining: 45.3ms
71:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 41.3ms	remaining: 44.7ms
72:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 41.9ms	remaining: 44.2ms
73:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 42.5ms	remaining: 43.6ms
74:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 43ms	remaining: 43ms
75:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 43.2ms	remaining: 42.1ms
76:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 43.7ms	remaining: 41.5ms
77:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 44.2ms	remaining: 40.8ms
78:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 44.8ms	remaining: 40.2ms
79:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 45.2ms	remaining: 39.5ms
80:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 45.7ms	remaining: 39ms
81:	learn: 0.7689162	test: 0.7723577	best: 0.7723577 (0)	total: 46.3ms	remaining: 38.4ms
82:	learn: 0.7709611	test: 0.7642276	best: 0.7723577 (0)	total: 46.9ms	remaining: 37.8ms
83:	learn: 0.7709611	test: 0.7642276	best: 0.7723577 (0)	total: 47.4ms	remaining: 37.3ms
84:	learn: 0.7709611	test: 0.7642276	best: 0.7723577 (0)	total: 48ms	remaining: 36.7ms
85:	learn: 0.7709611	test: 0.7642276	best: 0.7723577 (0)	total: 48.6ms	remaining: 36.2ms
86:	learn: 0.7709611	test: 0.7642276	best: 0.7723577 (0)	total: 49.2ms	remaining: 35.6ms
87:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 49.8ms	remaining: 35.1ms
88:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 50.3ms	remaining: 34.5ms
89:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 51ms	remaining: 34ms
90:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 51.8ms	remaining: 33.6ms
91:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 52ms	remaining: 32.8ms
92:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 52.6ms	remaining: 32.2ms
93:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 52.8ms	remaining: 31.5ms
94:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 53.4ms	remaining: 30.9ms
95:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 54.1ms	remaining: 30.4ms
96:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 54.4ms	remaining: 29.7ms
97:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 55ms	remaining: 29.2ms
98:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 55.3ms	remaining: 28.5ms
99:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 57.3ms	remaining: 28.7ms
100:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 57.5ms	remaining: 27.9ms
101:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 58.2ms	remaining: 27.4ms
102:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 58.8ms	remaining: 26.8ms
103:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 59.4ms	remaining: 26.3ms
104:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 59.7ms	remaining: 25.6ms
105:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 60.4ms	remaining: 25.1ms
106:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 61ms	remaining: 24.5ms
107:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 61.6ms	remaining: 23.9ms
108:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 62.2ms	remaining: 23.4ms
109:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 62.7ms	remaining: 22.8ms
110:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 63.1ms	remaining: 22.2ms
111:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 64ms	remaining: 21.7ms
112:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 64.6ms	remaining: 21.1ms
113:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 65.1ms	remaining: 20.6ms
114:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 65.7ms	remaining: 20ms
115:	learn: 0.7730061	test: 0.7642276	best: 0.7723577 (0)	total: 66ms	remaining: 19.3ms
116:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 66.5ms	remaining: 18.8ms
117:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 67.1ms	remaining: 18.2ms
118:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 67.7ms	remaining: 17.6ms
119:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 68.3ms	remaining: 17.1ms
120:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 68.8ms	remaining: 16.5ms
121:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 69.4ms	remaining: 15.9ms
122:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 70.1ms	remaining: 15.4ms
123:	learn: 0.7770961	test: 0.7642276	best: 0.7723577 (0)	total: 70.5ms	remaining: 14.8ms
124:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 71ms	remaining: 14.2ms
125:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 71.3ms	remaining: 13.6ms
126:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 71.9ms	remaining: 13ms
127:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 72.2ms	remaining: 12.4ms
128:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 72.8ms	remaining: 11.8ms
129:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 73.3ms	remaining: 11.3ms
130:	learn: 0.7791411	test: 0.7642276	best: 0.7723577 (0)	total: 73.9ms	remaining: 10.7ms
131:	learn: 0.7811861	test: 0.7642276	best: 0.7723577 (0)	total: 74.6ms	remaining: 10.2ms
132:	learn: 0.7811861	test: 0.7642276	best: 0.7723577 (0)	total: 75.2ms	remaining: 9.61ms
133:	learn: 0.7811861	test: 0.7642276	best: 0.7723577 (0)	total: 75.7ms	remaining: 9.04ms
134:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 76.2ms	remaining: 8.47ms
135:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 76.8ms	remaining: 7.91ms
136:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 77.8ms	remaining: 7.38ms
137:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 78.4ms	remaining: 6.82ms
138:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 79ms	remaining: 6.25ms
139:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 79.6ms	remaining: 5.69ms
140:	learn: 0.7832311	test: 0.7642276	best: 0.7723577 (0)	total: 80.2ms	remaining: 5.12ms
141:	learn: 0.7852761	test: 0.7642276	best: 0.7723577 (0)	total: 80.8ms	remaining: 4.55ms
142:	learn: 0.7873211	test: 0.7642276	best: 0.7723577 (0)	total: 81.3ms	remaining: 3.98ms
143:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 82ms	remaining: 3.41ms
144:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 82.5ms	remaining: 2.85ms
145:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 83.1ms	remaining: 2.28ms
146:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 83.7ms	remaining: 1.71ms
147:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 84.2ms	remaining: 1.14ms
148:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 84.8ms	remaining: 569us
149:	learn: 0.7893661	test: 0.7642276	best: 0.7723577 (0)	total: 85.4ms	remaining: 0us

bestTest = 0.7723577236
bestIteration = 0

Shrink model to first 1 iterations.

## Predict & Evaluate

In [45]:
def predict_and_evaluate(model, X_test, y_test):
    '''Predict values for given model & test dataset
    and evaluate the results in terms of FP, FN, F1-score,
    Brier Score, AUC and G-Mean'''
    
    predictions = model.predict(X_test)
    
    accuracy = accuracy_score(y_test, predictions)
    precision = precision_score(y_test, predictions)
    recall = recall_score(y_test, predictions)
    f1 = f1_score(y_test, predictions)
#     mcc = matthews_corrcoef(y_test,predictions)
    tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
    
    metrics = [round(accuracy,2), fp, fn, round(precision,2), round(recall,2), round(f1,2)]
    table_row = [[model.__class__.__name__] + metrics]
    display(HTML(tabulate.tabulate(table_row,headers=('Algorithm','Accuracy', 'False Positives', 
                                                  'False Negatives', 'Precision', 
                                                  'Recall', 'F1 Score'), 
                                   tablefmt='html')))
    return table_row

In [46]:
res = predict_and_evaluate(model, x_test, y_test)